                                                    body {
                                                        font-family: 'Times New Roman', Times, serif;
                                                        font-size: 10pt;
                                                        max-width: 2000px;
                                                        margin: auto;
                                                    }
                                                    
                                                    nav ul li {
                                                        display: table-cell;
                                                    }
                                                    
                                                    nav ul li {
                                                        height: 1em;
                                                        background-color: black;
                                                        padding: 1em;
                                                    }
                                                    
                                                    nav {
                                                        background-color: black;
                                                    }
                                                    
                                                    footer ul li {
                                                        display: table-cell;
                                                    }
                                                    
                                                    footer ul li {
                                                        height: 1em;
                                                        background-color: black;
                                                        padding: 1em;
                                                    }
                                                    
                                                    a {
                                                        color: white;
                                                    }
                                                    
                                                    footer {
                                                        background-color: black;
                                                    }
                                                    
                                                    .colone {
                                                        border: 5px;
                                                    }
                                                    
                                                    .box {
                                                        background: rgba(196, 194, 191, 0.986);
                                                        width: 300px;
                                                        height: 330px;
                                                        float: right;
                                                    }
                                                    
                                                    header {
                                                        display: flex;
                                                        justify-content: space-between;
                                                    }
                                                    
                                                    .logo {
                                                        position: relative;
                                                        right: 700px;
                                                    }
                                                    
                                                    @media screen and (max-width: 768px) {
                                                        .colone {
                                                            font-size: 30px;
                                                        }
                                                        .box {
                                                            display: none;
                                                        }
                                                        nav ul li {
                                                            display: flex;
                                                            flex-direction: column;
                                                        }
                                                        .logo {
                                                            display: flex;
                                                            justify-content: center;
                                                            position: absolute;
                                                            right: 200px;
                                                        }
                                                    }